
a {
    color: #595959;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: black;
}

p.brand {
    margin: 0 0 0 15px;
    font-weight: bold;
    font-size: 38;
}

body {
    background-color: #bfe6f2;
    color: #595959;
    font-size: 18;
    user-select: none;
    cursor: default;
}

.right {
    text-align: right;
}

.panel {
    margin-bottom: 10px;
}

.col {
    padding: 0 5px 0 5px;
}

.full {
    padding: 0;
}

h2 {
    font-weight: bold;
    margin: 30px 0px 50px 20px;
}

h3 {
    color: #808080;
    font-size: 20;
    margin: 30px 0px 30px 20px;
    font-weight: bold;
}

label {
    color: #808080;
}

p {
    margin: 20px;
}

.foot {
    margin: 5px 5px 5px 20px;
}
.user {
    padding-top: 10px;
    text-align: right;
}

.card {
    text-align: right;
    border: 3px solid white;
    border-radius: 3px;
    padding: 0;
}

.task-font, a.task-font {
    color: #5bc0de;
}

.task-hover:hover, .task-border {
    border-color: #5bc0de;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:target, .btn:active:focus {
    outline: none;
}

.form-group {
    padding: 0 20px 0 20px;
}