{% extends 'base.html' %}

{% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
    <script src="{{url_for('static', filename='tasks.js')}}" defer></script>
{% endblock %}

{% block content %}


<!-- this part displays the last 3 task, with empty space if don't have 3 -->
<div class="row">
{% for last_tasks in tasks["last_three_task"] %}
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body body-card task-hover">
                <h2 class="task-font">{{ last_tasks[1] }}</h2>
                <p>Due date: {{ last_tasks[8] }}</p>
                <p>Team id: {{ last_tasks[3] }}</p>
                <p>Status: {{ last_tasks[5] }}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" 
                        data-id="{{ last_tasks[0] }}" 
                        data-goal="{{ last_tasks[9] }}"
                        data-spent="{{ last_tasks[10] }}"
                        style="width:0%">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- there are the personal tasks, if no, message -->
<div class="row">
    <div class="col col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body body-card">
                <div class="full col-sm-6 col-xs-6">
                    <h2 class="task-font">Personal tasks</h2>
                </div>
                <div class="right user col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-info">New</button>
                </div>
                <div class="col col-sm-12">
                {% if tasks["personal_tasks"] %}
                    {% for user_tasks in tasks["personal_tasks"] %}
                    <div class="panel-group">
                        <div class="panel panel-default task-collapse">
                            <div class="panel-body" data-toggle="collapse" href="#collapse{{ user_tasks[0] }}">
                                <div class="full col-sm-12">
                                    <div class="full col-sm-6">
                                        <h3>{{ user_tasks[1] }}</h3>
                                    </div>
                                    <div class="full col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                            data-id="{{ user_tasks[0] }}" 
                                            data-goal="{{ user_tasks[9] }}"
                                            data-spent="{{ user_tasks[10] }}" 
                                            style="width:0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ user_tasks[0] }}" class="panel-collapse collapse">
                                <div class="panel-body stick-up">
                                    <p><button type="button" class="btn btn-success" id="collapse1-control">Start</button>
                                    <button type="button" class="btn btn-info">Done</button></p>
                                    <p>Status: {{ user_tasks[5] }}</p>
                                    <p>Due date: {{ user_tasks[8] }}</p>
                                    <p>Details: {{ user_tasks[2] }}</p>
                                    <p>Created: {{ user_tasks[6] }}</p>
                                    <p>Modified: {{ user_tasks[7] }}</p>
                                    <p>Time goalt: {{ user_tasks[9] }}</p>
                                    <p>Time spent: {{ user_tasks[10] }}</p>
                                    <p><button type="button" class="btn btn-warning">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <p>You don't have any task.</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- this shows only when the user has team tasks, there's no possibly to add new -->
{% if tasks["team_tasks"] %}
<div class="row">
    <div class="col col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body body-card">
                <h2 class="task-font">Team tasks</h2>
                
                {% for own_tasks in tasks["team_tasks"] %}
                    
                    <div class="panel-group">
                        <div class="panel panel-default task-collapse">
                            <div class="panel-body" data-toggle="collapse" href="#collapse{{ own_tasks[0] }}">
                                <div class="full col-sm-12">
                                    <div class="full col-sm-6">
                                        <h3>{{ own_tasks[1] }}</h3>
                                    </div>
                                    <div class="full col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                            data-id="{{ own_tasks[0] }}" 
                                            data-goal="{{ own_tasks[9] }}"
                                            data-spent="{{ own_tasks[10] }}" 
                                            style="width:0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ own_tasks[0] }}" class="panel-collapse collapse">
                                <div class="panel-body stick-up">
                                    <p><button type="button" class="btn btn-success" id="collapse1-control">Start</button>
                                    <button type="button" class="btn btn-info">Done</button></p>
                                    <p>Status: {{ own_tasks[5] }}</p>
                                    <p>Team id: {{ own_tasks[4] }}</p>
                                    <p>Due date: {{ own_tasks[8] }}</p>
                                    <p>Details: {{ own_tasks[2] }}</p>
                                    <p>Created: {{ own_tasks[6] }}</p>
                                    <p>Modified: {{ own_tasks[7] }}</p>
                                    <p>Time goalt: {{ own_tasks[9] }}</p>
                                    <p>Time spent: {{ own_tasks[10] }}</p>
                                    <p><button type="button" class="btn btn-warning">Edit</button>
                                    <button type="button" class="btn btn-warning">Reassign</button>
                                    <button type="button" class="btn btn-danger">Delete</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- this shows only when the user has done tasks, js will fill it with ajax data when needed -->
<div class="row">
    <div class="col col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body body-card task-hover">
                <h2 class="task-font">5 completed task</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}